@import '../_variables'; // colors, fonts etc...

/********************** Flights Table CSS ****************************************/

.flight-options{
	border: none;
	.multi-leg{
		background: #e0e0eb;
	}

	.single-leg:hover, .multi-leg:hover{
		background: $selected-flight-row;
	}

	.top-border{
		border-top: 1px solid black;
	}

	.bottom-border{
		border-bottom: 1px solid black;
	}

	.selected-flight{
		background-color: $selected-flight-row;
	}
}

